table.pagerer {
	border: 0;
	margin: 0.5em 0;
	padding: 0;
}
table.pagerer tbody,
table.pagerer tbody tr,
table.pagerer tbody tr td {
	border: 0;
	padding: 0;
	margin: 0;
}
table.pagerer tbody tr td div.item-list,
table.pagerer tbody tr td div.item-list ul.pager,
table.pagerer tbody tr td div.item-list ul.pager li.pager-item,
table.pagerer tbody tr td div.item-list ul.pager li.pager-current,
table.pagerer tbody tr td div.item-list ul.pager li.pager-first,
table.pagerer tbody tr td div.item-list ul.pager li.pager-last,
table.pagerer tbody tr td div.item-list ul.pager li.pager-previous,
table.pagerer tbody tr td div.item-list ul.pager li.pager-next{
    list-style-type: none;
    list-style-image:none;
	margin: 0;
	padding: 0.1em 0 0 0;
	vertical-align: middle;
}
/* @todo remove */
/*table.pagerer tbody tr td div.item-list ul.pager li.pager-item,
table.pagerer tbody tr td div.item-list ul.pager li.pager-current,
table.pagerer tbody tr td div.item-list ul.pager li.pager-first,
table.pagerer tbody tr td div.item-list ul.pager li.pager-last,
table.pagerer tbody tr td div.item-list ul.pager li.pager-previous,
table.pagerer tbody tr td div.item-list ul.pager li.pager-next{
	border: 1px dotted;		
}*/
.pagerer-left .item-list .pager{
	text-align: left;
}
.pagerer-center .item-list .pager{
	text-align: center;
}
.pagerer-right .item-list .pager{
	text-align: right;
}

/* page widget */
.pagerer-page {
	text-align: center;
	border: 1px black dotted;
	margin: 0;
	padding: 0;
}
.pagerer-page-has-focus {
	background-color: Gainsboro;
}

/* slider widget */
div.pagerer-slider {
	display: inline-block;
	vertical-align: text-top;
} 
div.pagerer-slider-icon {
	display: inline-block;
	vertical-align: text-bottom;
} 

/* Admin */
table.pagerer_admin_panes_config,
table.pagerer_admin_panes_config tbody,
table.pagerer_admin_panes_config tbody tr,
table.pagerer_admin_panes_config tbody tr td {
	margin: 0;
	border: 0;
	padding: 0;
}
